html {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: hidden;
}

#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}
#title span {
    background: -webkit-linear-gradient(white, #8c8c8c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}


@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.preserve-3d {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}



.back {
    width: 200px;
    background-color: transparent;
    counter-increment: bc;
    margin-top: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -100px;

}

.back:before {
    content: counter() "";
    position: absolute;
    padding: 10px;
}

@media screen and (max-width: 1260px) {
    .back {
        width: 50%;
    }
}

@media screen and (max-width: 840px) {
    .back {
        width: 100%;
    }
}

.button_base {
    margin: 0;
    border: 0;
    font-size: 22px;
    position: fixed;
    top: 80%;
    left: 50%;
    margin-top: -25px;
    margin-left: -100px;
    width: 200px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}



/* ### ### ### 11 */
.b11_3d_jumpback {
    perspective: 500px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
}

.b11_3d_jumpback div {
    color: #2d2d30;
    background-color: #f9906f;
    border: #000000 solid 1px;
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 5px;
}

.b11_3d_jumpback:hover div {
    color: #cccccc;
    background-color: #000000;
    animation: b11_3d_jump 0.3s ease-out;
    -webkit-animation: b11_3d_jump 0.3s ease-out;
    -moz-animation: b11_3d_jump 0.3s ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}

@-webkit-keyframes b11_3d_jump {
    from {
        transform: translateZ(0px) rotateX(0deg);
        -webkit-transform: translateZ(0px) rotateX(0deg);
        -moz-transform: translateZ(0px) rotateX(0deg);
        background-color: #f9906f;
        color: #003371;
    }
    49.99% {
        transform: translateZ(100px) rotateX(90deg);
        -webkit-transform: translateZ(100px) rotateX(90deg);
        -moz-transform: translateZ(100px) rotateX(90deg);
        background-color: #808080;
        color: #003371;
    }
    50.00% {
        transform: translateZ(100px) rotateX(-90deg);
        -webkit-transform: translateZ(100px) rotateX(-90deg);
        -moz-transform: translateZ(100px) rotateX(-90deg);
        background-color: #003371;
        color: #808080;
    }
    to {
        transform: translateZ(0px) rotateX(0deg);
        -webkit-transform: translateZ(0px) rotateX(0deg);
        -moz-transform: translateZ(0px) rotateX(0deg);
        background-color: #003371;
        color: #f9906f;
    }
}

@-moz-keyframes b11_3d_jump {
    from {
        transform: translateZ(0px) rotateX(0deg);
        -webkit-transform: translateZ(0px) rotateX(0deg);
        -moz-transform: translateZ(0px) rotateX(0deg);
        background-color: #f9906f;
        color: #003371;
    }
    49.99% {
        transform: translateZ(100px) rotateX(90deg);
        -webkit-transform: translateZ(100px) rotateX(90deg);
        -moz-transform: translateZ(100px) rotateX(90deg);
        background-color: #808080;
        color: #003371;
    }
    50.00% {
        transform: translateZ(100px) rotateX(-90deg);
        -webkit-transform: translateZ(100px) rotateX(-90deg);
        -moz-transform: translateZ(100px) rotateX(-90deg);
        background-color: #003371;
        color: #808080;
    }
    to {
        transform: translateZ(0px) rotateX(0deg);
        -webkit-transform: translateZ(0px) rotateX(0deg);
        -moz-transform: translateZ(0px) rotateX(0deg);
        background-color: #003371;
        color: #f9906f;
    }
}
.mainTitle {
	position: fixed;
	top:-10%;
	left: 25%;
	width: 55%;
	height: 120%;
    
}


/*cicle */

@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:800,900");
html, body {
    height: 100%;
}
nav {
    display: block;
    position: fixed;
    width: 700px;
    height: 700px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate3d(25px, -25px, 0);
    transform: translate3d(25px, -25px, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
    transition: -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
    transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
    transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}
nav.open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
nav.top-right {
    top: -230px;
    right: -230px;
}

.disc {
    position: absolute;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font: 25px Alegreya Sans, sans-serif;
    line-height: 40px;
    padding-top: 10px;
    border-radius: 350px;
    -webkit-transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
    transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
    pointer-events: none;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
    transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
    transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s;
    transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}
.disc div {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.open .disc {
    pointer-events: auto;
    opacity: 1;
}

.l1 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: tomato;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.open .l1 {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1;
}
.open .l1:hover {
    background: #1a0a07;
    color: tomato;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.open .l1:active {
    background: #803224;
    color: tomato;
}
.open .l1.toggle {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l2 {
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    background: #ff7a39;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.open .l2 {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1;
}
.open .l2:hover {
    background: #1a0c06;
    color: #ff7a39;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.open .l2:active {
    background: #803d1d;
    color: #ff7a39;
}
.open .l2.toggle {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l3 {
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    background: #ff912b;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.open .l3 {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1;
}
.open .l3:hover {
    background: #1a0f04;
    color: #ff912b;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.open .l3:active {
    background: #804916;
    color: #ff912b;
}
.open .l3.toggle {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l4 {
    top: 150px;
    left: 150px;
    right: 150px;
    bottom: 150px;
    background: #ffa91c;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.open .l4 {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1;
}
.open .l4:hover {
    background: #1a1103;
    color: #ffa91c;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.open .l4:active {
    background: #80550e;
    color: #ffa91c;
}
.open .l4.toggle {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l5 {
    top: 200px;
    left: 200px;
    right: 200px;
    bottom: 200px;
    background: #ffc00e;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.open .l5{
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1;
}
.open .l5:hover {
    background: #1a1301;
    color: #ffc00e;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.open .l5:active {
    background: #806007;
    color: #ffc00e;
}
.open .l5.toggle {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}
.l6 {
    top: 250px;
    left: 250px;
    right: 250px;
    bottom: 250px;
    background: #fcc800;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.open .l6 {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1;
}
.open .l6:hover {
    background: #1a0a07;
    color: #fcc800;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.open .l6:active {
    background: #803d1d;
    color: #fcc800;
}
.open .l6.toggle {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l7 {
    top: 300px;
    left: 300px;
    right: 300px;
    bottom: 300px;
    background: #ffa91c;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
.open .l7 {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1;
}
.open .l7:hover {
    background: #1a0a07;
    color: tomato;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.open .l7:active {
    background: #803d1d;
    color: #ff7a39;
}
.open .l7.toggle {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}


.toggle {
    line-height: 100px;
    padding: 0;
    width: 100px;
    background: gold;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    pointer-events: auto;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.open .toggle {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
}
.toggle:hover {
    background: #1a1600;
    color: gold;
}
.toggle:active {
    background: #806c00;
    color: rgba(255, 215, 0, 0.5);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}
a{
    color: #000;
}
